/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

/*ol, ul {*/
    /*list-style: none;*/
/*}*/

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:focus {
    outline: 0;
}

#presentation {
    vertical-align: top;
    white-space: nowrap;
}

div.slide {
    -webkit-box-shadow: 0 0 50px #c0c0c0;
    -moz-box-shadow: 0 0 50px #c0c0c0;
    box-shadow: 0 0 50px #c0c0c0;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: inline-block;
    height: 600px;
    padding: 20px;
    position: relative;
    vertical-align: top;
    width: 900px;
}

div.inactiveslide {
    opacity: 0.4;
}

div.activeslide {
    opacity: 1;
}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    div.inactiveslide {
        opacity: 1;
    }
}

/* iPhone */
@media only screen and (max-device-width: 480px) {
    div.inactiveslide {
        opacity: 1;
    }
}

::-webkit-scrollbar-track-piece {
    width: 10px;
    background-color: #4e4e5a;
}

::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background: #3fb560;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: #3fb560;
    cursor: pointer
}

body {
    font-family: STXihei, sans-serif;
    line-height: 1.5;
    font-size: 20px;
    color: #000;
    user-select: none;
}
p {
    letter-spacing: 2px;
    text-indent: 2em;
    font-size: 20px;
}
ol {
    display: block;
    width: 60%;
    margin: 0 auto;
}
li {
    margin-top: 20px;
}
img {
    max-width: 100%;
}

h2 {
    margin: 20px;
    font-size: 30px;
    color: #42B983;
}

h1 {
    line-height: 500px;
    text-align: center;
    font-size: 50px;
    color: #42B983;
}

.abscenter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.lh2 {
    line-height: 2;
}